<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1 class="sign-form-h1">Вход</h1>
            <hr/>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => 'Электронная почта' %>
                </div>

                <div class="form-group">
                    <%= f.password_field :password, autocomplete: "current-password", :class => "form-control", :placeholder => 'Пароль' %>
                </div>

                <% if devise_mapping.rememberable? %>
                    <div class="form-group custom-control custom-switch mb-4">
                        <%= f.check_box :remember_me, :class=>'custom-control-input'  %>
                        <%= f.label :remember_me, :class=>'custom-control-label' %>
                    </div>
                <% end %>

                <div class="actions">
                    <%= button_tag type: 'submit', class: "btn btn-dark col-sm-12 mb-2", id: "login-button" do %>
                        <i class="fa fa-sign-in fa-main-menu-licon" aria-hidden="true"></i> Войти
                    <% end %>
                    <%= link_to "Восстановить пароль", new_password_path(resource_name) %>
                </div>
            <% end %>
        </div>
    </div>
</div>